[App]
RootUrl=https://the.app.domain/

[Database]
Host=localhost
Name=dbname
User=dbuser
Pass=SeCrEt_CHANGE_THIS

[Slack]
AppId=A********
ClientId=************.************
ClientSecret=********************************
SigningSecret=********************************

[ActiveCollab]
Salt=**************************************
URL=https://your.domain/public/index.php?path_info=
DBHost=localhost
DBPort=3306
DBUser=active_collab_db_user
DBPass=*************
DBName=active_collab_db
